{% extends 'base.html' %}


{% block content%}

<div class="row">
	<h2 style="text-align: center;">DELETE NOTEBOOK</h2>
</div>

{% endblock %}

{% block container %}
	<br>
	<div class="col-md-6 col-md-offset-3">
		<form action="/deleteNotebook" method="post">

			<p>Notebook ID: <input name="notebook_id"></p>

			<p><input type="submit" value="Delete"></p>

		</form>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}

	</div>

{% endblock %}