{% extends 'base.html' %}


{% block content%}

		<h2>ENDPOINT LIST</h2>
		
{% endblock %}

{% block container %}
<head>
	<style>
		table {
			font-family: arial, sans-serif;
  			border-collapse: collapse;
  			width: 100%;
		}

		td, th {
  			border: 1px solid #dddddd;
  			text-align: left;
  			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>

	<br>
	<div>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Update Time</th>
				<th>Training_id</th>
				<th>Training_name</th>
				<th>Training_update_time</th>

			</tr>
			<tr>
				{% for endpoint in endpoints['value'] %}
			<tr>
				<td>{{ endpoint['endpoint_id'] }}</td>
				<td>{{ endpoint['endpoint_name'] }}</td>
				<td>{{ endpoint['createdDate'] }}</td>
				<td>{{ endpoint.training.id }}</td>
				<td>{{ endpoint.training.name }}</td>
				<td>{{ endpoint.training.created_date }}</td>
			</tr>
			{% endfor %}
			</tr>
		</table>
	</div>
{% endblock %}