{% extends 'base.html' %}


{% block content%}

<div class="row">
	<h2 style="text-align: center;">CREATE ENDPOINT</h2>
</div>

  
{% endblock %}

{% block container %}
	<br>
	<div class="col-md-6 col-md-offset-3">
		<form action="/newEndpoint" method="post">
			{{ form.hidden_tag() }}
			<p>
  				{{ form.name.label }}<br>
            	{{ form.name(size=32) }}<br>
			</p>
			<p>
  				{{ form.training_id.label }}<br>
            	{{ form.training_id(size=32) }}<br>
			</p>
			<p>{{ form.submit() }}</p>
		</form>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}

	</div>

{% endblock %}