{% extends 'base.html' %}


{% block content%}

	<h2>NOTEBOOK</h2>

{% endblock %}


{% block container %}
<head>
	<style>
		table {
			font-family: arial, sans-serif;
  			border-collapse: collapse;
  			width: 100%;
		}

		td, th {
  			border: 1px solid #dddddd;
  			text-align: left;
  			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>

	<br>
	<div>

		<form action="/newNotebook" method="post">
			<p>Create new Notebook: <input type="text" name="name" placeholder="notebook name" minlength="4" maxlength="10" required="">
				<input type="submit" value="Create">
			</p>
		</form>

		<br>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Deployment Name</th>
				<th>Docker Image</th>
				<th>URL Notebook</th>
				<th>Update Time</th>
				<th>Status</th>
				<th>Delete</th>
			</tr>
			{% for notebook in notebooks['notebooks'] %}
			<tr>
				<td>{{ notebook['id'] }}</td>
				<td>{{ notebook['name'] }}</td>
				<td>{{ notebook['deployment_name'] }}</td>
				<td>{{ notebook['docker_image_name'] }}</td>
				<td><a href="http://pippo.notebooks.kubernetes.local/">{{ notebook['notebook_url'] }}</td>
				<td>{{ notebook['created_date'] }}</td>
				<td>{{ notebook['status'] }}</td>
				<td>
					<form action="/deleteNotebook" method="post">
						<input type="submit"  value="Delete">
						<input type="hidden" name="id_to_delete" value="{{ notebook['id'] }}">
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}

	</div>
{% endblock %}