{% extends 'base.html' %}


{% block content%}

	<h2>NOTEBOOK LIST</h2>

{% endblock %}


{% block container %}
<head>
	<style>
		table {
			font-family: arial, sans-serif;
  			border-collapse: collapse;
  			width: 100%;
		}

		td, th {
  			border: 1px solid #dddddd;
  			text-align: left;
  			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>

	<br>
	<div>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Update Time</th>
				<th>Delete</th>
				<th>Update</th>
			</tr>
			{% for notebook in notebooks['value'] %}
			<tr>
				<td>{{ notebook['id'] }}</td>
				<td>{{ notebook['name'] }}</td>
				<td>{{ notebook['created_date'] }}</td>
				<td><form action="/deleteNotebook" method="delete"><input type="submit" name="delete" value="Delete"></form></td>
				<td><form action="/updateNotebook" method="update"><input type="submit" name="update" value="Update"></form></td>
			</tr>
			{% endfor %}
		</table>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}

	</div>
{% endblock %}