{% extends 'base.html' %}


{% block content%}

	<h2>Here you can see your notebook list</h2>

{% endblock %}


{% block container %}
	<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

	<br>
	<div>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Update Time</th>
			</tr>
			{% for notebook in notebooks %}
			<tr>
				<td>{{notebook_id}}</td>
				<td>{{notebook_name}}</td>
				<td>{{notebook_update_time}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}