{% extends 'base.html' %}


{% block content%}

		<h2>TRAINING</h2>

{% endblock %}


{% block container %}
<head>
	<style>
		table {
			font-family: arial, sans-serif;
  			border-collapse: collapse;
  			width: 100%;
		}

		td, th {
  			border: 1px solid #dddddd;
  			text-align: left;
  			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>

	<br>
	<div>
		<form action="/newTraining" method="post" enctype="multipart/form-data">
			<p>
				Create new Training: 
				<input name="name" placeholder="training name" minlength="4" maxlength="20" required="">
			</p>
			<p>
				File: 
				<input name="file" type="file" required="" >
			</p>
			<p>
				<input type="submit" value="Create">
			</p>
		</form>
		<br>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>File_name</th>
				<th>Endpoint_count</th>
				<th>Update Time</th>
				<th>Status</th>
				<th>Delete</th>
			</tr>
			{% for training in trainings['trainings'] %}
			<tr>
				<td>{{ training['id'] }}</td>
				<td>{{ training['name'] }}</td>
				<td>{{ training['filename'] }}</td>
				<td>{{ training['endpoints_count'] }}</td>
				<td>{{ training['created_date'] }}</td>
				<td>{{ training['status'] }}</td>
				<td>
					<form action="/deleteTraining" method="post">
						<input type="submit"  value="Delete">
						<input type="hidden" name="id_to_delete" value="{{ training['id'] }}">
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
		<br>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}

	</div>
{% endblock %}