{% extends 'base.html' %}


{% block content%}

		<h2>TRAINING LIST</h2>

{% endblock %}


{% block container %}
<head>
	<style>
		table {
			font-family: arial, sans-serif;
  			border-collapse: collapse;
  			width: 100%;
		}

		td, th {
  			border: 1px solid #dddddd;
  			text-align: left;
  			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>

	<br>
	<div>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Endpoint_count</th>
				<th>Update Time</th>
				<th>Delete</th>
				<th>Update</th>
			</tr>
			{% for training in trainings['value'] %}
			<tr>
				<td>{{ training['id'] }}</td>
				<td>{{ training['name'] }}</td>
				<td>{{ training['endpoints_count'] }}</td>
				<td>{{ training['created_date'] }}</td>
				<td><a href="/deleteTraining"><button>Delete</button></a></td>
				<td><a href="/updateTraining"><button>Update</button></a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}