{% extends 'base.html' %}


{% block content%}

<div class="row">
	<h2 style="text-align: center;">UPDATE TRAINING</h2>
</div>

{% endblock %}

{% block container %}
	<br>
	<div class="col-md-6 col-md-offset-3">
		<form action="/updateTraining" method="put">

			<p>Training name: <input type="text" name="name"></p>

			<p>Training ID: <input type="integer" name="training_id"></p>


			<p><input type="submit" value="Update"></p>

		</form>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}

	</div>

{% endblock %}